@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Balmy'; /* Название шрифта */
  src: url('/fonts/Balmy.ttf') format('truetype'); /* Путь к файлу шрифта */
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Улучшает отображение шрифта */
}

* {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  min-width: 400px;
  width: 100vw;
}

body.loading {
  overflow: hidden;
}

li {
  margin-bottom: 0.5rem;
  width: fit-content;
}

.disk {
  list-style: none;
}

.disk :before {

  content: "·";
  font-size: 120px;
  vertical-align: middle;
  line-height: 20px;
}


@media (max-width: 1279px) {
  li {
    width: fit-content;
    margin: 0 auto;
  }
}

.anchor {
  padding-top: 100px;
  margin-top: -100px;
}

.slick-slide {
  /* width: 960px !important; */
  display: flex !important;
  justify-content: center !important;
}

.grad-text1 {
  background: linear-gradient(180deg, #3FD0FB 0%, #BD14D2 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.grad-text2 {
  background: linear-gradient(180deg, #BD14D2 0%, #3FD0FB 110%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.business-awards-view__award {
  padding: 8px 0;
  min-height: 72px;
  display: flex;
  cursor: pointer;
}

.business-awards-view__badge {
  position: relative;
  min-width: 56px;
  height: 72px;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 0;
}

.business-awards-view__bg-yandex {
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  width: 56px;
  height: 72px;
  color: white;
  filter: drop-shadow(0 0 3px rgba(0, 0, 0, .2));
}

.business-awards-view__badge-icon {
  margin: 12px 0 6px;
}

.business-awards-view__badge-year {
  font-size: 12px;
  line-height: 14px;
  color: #898989;
}

.business-awards-view__content {
  flex-grow: 1;
  margin: 0 16px;
}

.business-awards-view__title {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: var(--color-text-primary);
  margin: 10px 0 4px;
}

.business-awards-view__text {
  font-size: 14px;
  line-height: 16px;
  color: #898989;
}

.ratings-block {
  height: 350px;
}

@media (max-width: 569px) {
  .ratings-block {
    height: 700px;
  }
}


.absolute-carousel {
  display: none;
}

.shadowed {
  box-shadow: 0 0px 5px 3px rgba(0, 0, 0, 0.1);
}

.gradient-text {
  background: linear-gradient(to right, #15803d, #1d4ed8);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}